{% extends "UserBundle::layout.html.twig" %}

{% block page_header_title 'Woops!' %}
{% block fos_user_content %}
<div class="alert alert-danger" role="alert">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
{% endblock fos_user_content %}

