app/config/parameters.yml
docs/build
build/
docs/_build
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
!var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/

web/bundles/
web/css
web/js
web/fonts
web/assets
web/promo_artworks
web/*.mp3
web/sitemap.xml
web/sitemap.*.xml
web/upload

node_modules
