{% extends '@AudienceHeroCore/mailer/transactional.html.twig' %}

{% block subject %}Your password has been changed{% endblock %}

{% block preheader %}You have successfully changed your password{% endblock %}

{% block content %}
    <p>You have successfully changed your password. You can now login with your new password.</p>
{% endblock %}

{% block action_text %}Proceed to login{% endblock %}

{% block action_url %}{{ url('login') }}{% endblock %}
